body{
    background-color: rgb(241, 238, 238);
}

.container{
    padding: 20px;
    flex-direction: row;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-body{
    background-color:white;
    border: 1px solid palevioletred;
    text-align: center;
    height:auto ;
    width: 300px;
    box-shadow: 0 2px 4px 0 ;
}

.card-body:hover {
    box-shadow:0  2px 2px  0;
  }

.card-img{
     position: relative;
     width: 100%;
     text-align: center;
     background-color: palevioletred;
     border: none solid palevioletred;
     
}

.img{
    height: 200px;
    width: 100%;
}

 .text{
    position:absolute;
    top:50%;
    left:0%;
    bottom:20px;
    font-size:30px;
    padding: 0.5rem;
    width:100%;
    color: white;
    bottom: 20px;

} 

.card-icon{
    margin-top: 20px;
    font-family: sans-serif;

}

.icon{
    margin-right: 30px;  
}

.btn{
    display: inline-block;
    background-color: palevioletred;
    text-transform: uppercase;
    font-family: sans-serif;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
}